button.active {
    background-color: orange;
}

.header {
    font-weight: bold;
    border-top: 1px solid darkgray;
}

.content-row {
    height: 75px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    background-color: lightgray;
}

.content-col {
    flex-direction: column;
}

@media (max-width: 768px) {
    .content-row {
      height: auto;
    }

    .content-col {
      align-items: flex-start;
    }
  }
  