<div class="container-fluid text-center">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-start">
      <div class="row header">
        <div class="col">Kurs</div>
        <div class="col">Veranstaltungsort</div>
        <div class="col">Adresse des Veranstaltungsortes</div>
        <div class="col">Öffentlich erreichbar?</div>
        <div class="col">Kursleiter</div>
        <div class="col-3">Alle Termine</div>
      </div>
      <div class="row" *ngFor="let course of storeService.courses">
        <div class="col">{{course.name}}</div>
        <div class="col">{{course.eventLocation.name}}</div>
        <div class="col">{{course.eventLocation.address}}</div>
        <div class="col">{{course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein"}}</div>
        <div class="col">{{course.instructor}}</div>
        <div class="col-3">
          <div class="row" *ngFor="let date of course.dates">
            <div class="col"><span>{{date.begin | date:"MMM dd, yyyy 'um' hh:mm a" }}</span> - <span>{{date.end | date:"MMM dd, yyyy 'um' hh:mm a"}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<br>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row header">
        <div class="col">Name</div>
        <div class="col">Geburtsdatum</div>
        <div class="col">Kurs</div>
      </div>
      <div class="row" *ngFor="let registration of storeService.registrations">
        <div class="col">{{registration.name}}</div>
        <div class="col">{{registration.birthdate}}</div>
        <div class="col">{{registration.course.name}}</div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<button [ngClass]="page == storeService.currentPage ? 'active' : ''" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages()">{{page}}</button>