<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-12">
      <div class="row header content-row">
        <div class="col content-col d-flex justify-content-center">Kurs</div>
        <div class="col content-col d-flex justify-content-center">Veranstaltungsort</div>
        <div class="col content-col d-flex justify-content-center">Adresse des Veranstaltungsortes</div>
        <div class="col content-col d-flex justify-content-center">Öffentlich erreichbar?</div>
        <div class="col content-col d-flex justify-content-center">Kursleiter</div>
        <div class="col-3 content-col d-flex justify-content-center">Alle Termine</div>
      </div>
      <div class="row content-row" *ngFor="let course of storeService.courses">
        <div class="col content-col d-flex justify-content-center">{{course.name}}</div>
        <div class="col content-col d-flex justify-content-center">{{course.eventLocation.name}}</div>
        <div class="col content-col d-flex justify-content-center">{{course.eventLocation.address}}</div>
        <div class="col content-col d-flex justify-content-center">{{course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein"}}</div>
        <div class="col content-col d-flex justify-content-center">{{course.instructor}}</div>
        <div class="col-3 content-col d-flex justify-content-center">
          <div class="row" *ngFor="let date of course.dates">
            <div class="col"><span>{{date.begin | date:"MMM dd, yyyy 'um' hh:mm a" }}</span> - <span>{{date.end | date:"MMM dd, yyyy 'um' hh:mm a"}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-12">
      <div class="row header content-row">
        <div class="col content-col d-flex justify-content-center">Name</div>
        <div class="col content-col d-flex justify-content-center">Geburtsdatum</div>
        <div class="col content-col d-flex justify-content-center">Kurs</div>
      </div>
      <div class="row content-row" *ngFor="let registration of storeService.registrations">
        <div class="col content-col d-flex justify-content-center">{{registration.name}}</div>
        <div class="col content-col d-flex justify-content-center">{{registration.birthdate}}</div>
        <div class="col content-col d-flex justify-content-center">{{registration.course.name}}</div>
      </div>
    </div>
  </div>
</div>

<button [ngClass]="page == storeService.currentPage ? 'active' : ''" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages()">{{page}}</button>