.flex {
    display: flex;
}

img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.header-card {
    width: 100%;
    border-radius: 0px;
}

.link-card-content {
    padding: 0px 0px 0px 25px !important;
}

.title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-button {
    width: 120px;
    margin-left: 10px;
}