<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-12">
            <mat-card appearance="outlined" class="form-card">
                <mat-card-content>
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <h2>Zum Kurs anmelden!</h2>
                        <mat-form-field class="name-input standard-input">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
                            @if (nameFormControl.hasError('required')) {
                            <mat-error>Name is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                        <br />

                        <mat-form-field class="date-select standard-input">
                            <mat-label>Geburtsdatum</mat-label>
                            <input matInput [matDatepicker]="picker" [formControl]="dateFormControl"
                                [errorStateMatcher]="matcher">
                            <mat-hint>/DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            @if (dateFormControl.hasError('required')) {
                            <mat-error>Geburtsdatum is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                        <br />

                        <mat-form-field class="course-menu standard-input">
                            <mat-label>Bitte auswählen</mat-label>
                            <mat-select>
                                @for (course of storeService.courses; track course) {
                                <mat-option [value]="course.id">{{course.name}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <br />

                        <mat-checkbox class="newsletter-check standard-input">Anmelden für Newsletter</mat-checkbox>
                        <br />

                        <button mat-flat-button type="submit" class="standard-button">Erfassen</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>